doctype html 
html
    head 
        base(href="/")
        meta(charset="utf-8")
        title Websites4Sale 
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto&display=swap" rel="stylesheet")
        link(href="../css/main" id="mainStylesheet" rel="stylesheet" type="text/css")
    body 
        include navbar.pug
        div#saleCont
            input(type="text" id="sale-message" placeholder="Enter banner message...")
            button(onclick="setSale()") Set
            button(onclick="clearSale()") Delete 
        h2(style="margin-top: 40px;") Website Requests
        h3#message
        table
            thead
                tr
                    th Name
                    th Email
                    th Meet Date
                    th Service Type
                    th Red?
                    th Delete Entry
            tbody 
                each entry in contactsList
                    tr(id=`contact-${entry.id}`)
                        td= entry.name
                        td= entry.email
                        td= entry.preferredMeetingDate
                        td= entry.money
                        td= entry.red   
                        td
                            button(onclick=`removeEntry(${entry.id})`) Delete
        
        script(src="https://kit.fontawesome.com/224f862d86.js" crossorigin="anonymous")
        script(src="../js/main.js" defer)
        script(src="../js/table.js" defer)